@import url("https://use.typekit.net/mry2cbf.css");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

header .navbar {
  padding: calc(1rem + 0.8vw) calc(1.5rem + 4.5vw);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .navbar__logo {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  font-size: calc(18px + 0.6vw);
  font-weight: 400;
  line-height: 32px;
  color: #fff;
  cursor: pointer;
}
header .navbar .hamb {
  position: relative;
  font-size: calc(24px + 0.3vw);
  cursor: pointer;
  color: #fff;
  z-index: 1000;
}
header .timeBox {
  text-align: right;
  padding: 0 calc(1.5rem + 4.5vw);
  color: #fff;
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(16px + 0.3vw);
  font-weight: 500;
  line-height: 32px;
  margin: 0 1rem;
}

.navbar__sub.active {
  visibility: visible;
  opacity: 1;
  left: 0;
  transition: left 0.8s, visibility 0.8s, opacity 0.4s;
}

@media (max-width: 768px) {
  header .navbar__sub {
    visibility: hidden;
    opacity: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: rgba(18, 72, 163, 0.9);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    transition: left 0.8s, visibility 0.8s, opacity 0.4s;
    padding: 10rem 4rem;
    z-index: 100;
  }
  header .navbar__sub li {
    margin-bottom: 5rem;
  }
  header .navbar__sub li .items {
    font-family: muli, sans-serif;
    font-style: normal;
    font-size: calc(36px + 0vw);
    font-weight: 800;
    line-height: 44px;
    color: #fff;
    transition: color 1s;
    cursor: pointer;
  }
  header .navbar__sub li .items:hover {
    color: #3d5060;
  }
}
@media (min-width: 768px) {
  header .navbar .hamb {
    display: none;
  }
  header .navbar__sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  header .navbar__sub li {
    margin: 0 1rem;
  }
  header .navbar__sub li .items {
    font-family: muli, sans-serif;
    font-style: normal;
    font-size: calc(16px + 0.3vw);
    font-weight: 500;
    line-height: 32px;
    cursor: pointer;
    color: #fff;
  }
}
.books {
  display: block;
  padding: calc(1rem + 0.8vw) calc(1.5rem + 4.5vw);
}
.books__title {
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(24px + 0.7vw);
  font-weight: 800;
  line-height: 32px;
  text-align: center;
  color: #fff;
}
.books .container {
  max-width: 800px;
  margin: calc(1rem + 2vh) 0;
  margin-inline: auto;
  background: #fff;
  min-height: 450px;
  max-height: 70vh;
  border-radius: 16px;
  padding: calc(.3rem + 2vh);
  overflow: auto;
}
.books .container .book-item {
  padding: calc(.3rem + 0.3vw) calc(.5rem + 4.5vw);
  width: 100%;
  background: #aec8ec;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.books .container .book-item .book-data {
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(14px + 0.3vw);
  font-weight: 500;
  line-height: 24px;
}
.books .container .book-item .btn-book {
  cursor: pointer;
  padding: 3px 5px;
  background: red;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #3d5060;
}

.add {
  display: none;
  padding: calc(1rem + 0.8vw) calc(1.5rem + 4.5vw);
}
.add__title {
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(24px + 0.7vw);
  font-weight: 800;
  line-height: 32px;
  text-align: center;
  color: #fff;
}
.add .form {
  max-width: 768px;
  margin-inline: auto;
}
.add .form ul {
  margin: calc(1rem + 2vh) 0;
}
.add .form ul li label {
  display: block;
  margin-top: calc(.5rem + 0.3vh);
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(16px + 0.3vw);
  font-weight: 500;
  line-height: 32px;
  color: #fff;
}
.add .form ul li input {
  margin: calc(.5rem + 0.3vh) 0;
  width: 100%;
  border-radius: 5px;
  height: calc(25px + 0.8vh);
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(16px + 0.3vw);
  font-weight: 500;
  line-height: 12px;
  padding: 0 1rem;
}
.add .form ul li button {
  margin-top: calc(.5rem + 0.3vh);
  width: 130px;
  height: 45px;
  border-radius: 5px;
  background: #aec8ec;
  color: #1248a3;
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(16px + 0.3vw);
  font-weight: 500;
  line-height: 48px;
}

.contact {
  display: none;
  padding: calc(1rem + 0.8vw) calc(1.5rem + 4.5vw);
}
.contact__title {
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(24px + 0.7vw);
  font-weight: 800;
  line-height: 32px;
  text-align: center;
  color: #fff;
}
.contact .info {
  margin: calc(1rem + 2vh) 0;
  max-width: 550px;
  margin-inline: auto;
}
.contact .info ul {
  list-style: circle;
  padding-left: 1rem;
}
.contact .info .first__p,
.contact .info .second__p,
.contact .info ul li {
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(16px + 0.3vw);
  font-weight: 500;
  line-height: 32px;
  color: #fff;
}

.footer {
  padding: calc(1rem + 0.8vw) calc(1.5rem + 4.5vw);
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.footer__p {
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(14px + 0.3vw);
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
