body {
  width: 100%;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;

}

footer {
  text-align: center;
  margin-top: auto;
}

.table {
  margin-bottom: 2rem;
}

#form {
  margin: 3rem 0;
}

#list {
  display: block;
}

#add, #contact {
  display: none;
}

#date {
  text-align: right;
}

#date p {
  margin-right: 20px;
}

.heading {
  text-align: center;
  padding: 2rem 0;
}

.title2 {
  margin-top: 4rem;
}

.btn {
  float: right;
}

h2 {
  text-align: center;
  margin: 6rem;
}

#contact div {
  width: 50%;
  margin: 20px auto;
  font-size: 20px;
}